.OnlinePage {
  padding: 45px 0 0 100px;
  height: 100%;
}

.OnlinePage .block {
  padding: 20px;
}

.OnlinePage .block__header {
  margin-bottom: 20px;
}

.OnlinePage__empty {
  margin: 2em;
  font-size: 20px;
  font-weight: 600;
}

.OnlinePage__vidgets {
  padding-top: 35px;
  display: flex;
}

.OnlinePage__vidgets .col {
  max-width: 315px;
  flex: none;
}

.OnlinePage__vidgets .col > .block {
  height: auto;
  margin-top: -1px;
}

.OnlinePage__vidgets > .block {
  flex: auto;
  margin-left: -1px;
  height: auto;
  min-height: calc(100vh - 80px);
}