.pickwell {
  margin-top: -30px;
}

.pickwell__input {
  border-top: 1px solid #8a959c;
  border-bottom: 1px solid #8a959c;
  width: calc(100% + 60px);
  margin-left: -30px;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 35px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.pickwell__input svg {
  flex: none;
}

.pickwell__input input {
  padding: 0 35px;
  border: none;
  width: 100%;
  height: 100%;
}

.pickwell__item {
  padding: 10px 0;
}

.pickwell__item.active > .pickwell__item-body {
  height: auto;
}

.pickwell__item-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #43525a;
  background-color: transparent;
  border: none;
}

.pickwell__item-body {
  padding-top: 10px;
  padding-left: 35px;
  height: 0;
  overflow: hidden;
}

.pickwell__item-name {
  margin: 0 5px 0 10px;
}

.pickwell__item-status {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.pickwell__item-status-item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.pickwell__item-status-item + .pickwell__item-status-item {
  margin-left: 5px;
}