.app-input {
  padding: 0 20px;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  background-color: #ecedee;
  border: none;
  min-width: 200px;
  cursor: pointer;
  text-align: left;
}

/* Chrome, Safari, Edge, Opera */
.app-input::-webkit-outer-spin-button,
.app-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
.app-input[type=number] {
  -moz-appearance: textfield;
}